#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #16222A !important;
  position: relative;
  z-index: 2;
}

#sidebar-wrapper .sidebar-heading {
  padding: 20px 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .sidebar-heading span{
    color: #dedede;
    margin-left: 10px;
}

.logo{
    width: 50px;
    height: 50px;
}

a{
    text-decoration: none !important;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group a, .profile{
    background-color: #16222A !important;
    color: #ddd;
}

.profile{
    padding: 18px;
}

.profile:hover{
    color: #ddd;
}

.profile img{
    width: 40px !important;
    margin-right: 10px;
}

.list-group img{
    width: 30px;
    margin-right: 10px;
}

.list-group #colored-icon-1,
.list-group #colored-icon-2,
.list-group #colored-icon-3,
.list-group #colored-icon-4{
  display: none;
  transform: 0.3s;
}


.list-group a:hover{
    color: #01A499;
    background-color: #273640 !important;
    transition: 0.3s;
}

/* Colored Icons on hover, active, and focus*/

.list-group a:hover #colored-icon-1,
.list-group a:focus #colored-icon-1,
.list-group a:active #colored-icon-1,
.list-group a:hover #colored-icon-2,
.list-group a:focus #colored-icon-2,
.list-group a:active #colored-icon-2,
.list-group a:hover #colored-icon-3,
.list-group a:focus #colored-icon-3,
.list-group a:active #colored-icon-3,
.list-group a:hover #colored-icon-4,
.list-group a:focus #colored-icon-4,
.list-group a:active #colored-icon-4{
  transform: 0.3s;
  display: inline-block;
}

.list-group a:hover #white-1,
.list-group a:focus #white-1,
.list-group a:active #white-1,
.list-group a:hover #white-2,
.list-group a:focus #white-2,
.list-group a:active #white-2,
.list-group a:hover #white-3,
.list-group a:focus #white-3,
.list-group a:active #white-3,
.list-group a:hover #white-4,
.list-group a:focus #white-4,
.list-group a:active #white-4{
  display: none;
}

/* end color icons */

.list-group a:active,
.list-group a:focus{
    color: #01A499;
    transition: 0.3s;
    background-color: #273640 !important;
}


#page-content-wrapper {
  min-width: 100vw;
  position: relative;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.search{
    padding: 12px 12px;
}

.search input{
    padding-right: 40px !important;
    background-color: #273640 !important;
    color: #eee !important;
    border-radius: 10px !important;
    background-image:url('../images/icons8-search-64.png');
    background-repeat:no-repeat;
    background-position: 180px center;
    background-size: 25px 25px;
    outline:0;
}